<div class="container-fluid bg bg2 bg3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img class="rounded mx-auto d-block" src="assets/img/{{this.profileInformation.imagePath}}">                     
                <div class="rounded twitter-profile-picture">
                    <h3>{{this.profileInformation.names}}'s timeline</h3>
                    <hr>                     
                    <p *ngFor="let tweet of this.tweetsUser.data; let i = index">
                        {{this.profileInformation.names}}'s Tweet #{{i+1}}: <br> {{tweet.text}}
                    </p>                    
                </div>         
            </div>
            <div class="col-lg-6 ">
                <h1>{{this.profileInformation.fullName}}</h1>
                <div class="rounded work-experience">
                    <h3>My Work Experience</h3>
                    <hr>
                    <p class="text-justify">{{this.profileInformation.workExperience}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
